@using Frontend.DTO
@if (tournamentList != null)
{
    @foreach (var t in tournamentList)
    {
        <h2>@t.Title (@t.NumberOfConsestants) 
            @if(t.IsCompleted)
            {
                <b>Done</b>
            }
            else
            {
                <b>Ongoing</b>
            }
        </h2>
        <p>
            <b>Winner:</b> @t.Matches.OrderByDescending(x=>x.TId).First().Result.Winner.Name
        </p>
        <div>
            @foreach (var match in t.Matches.OrderBy(x=>x.TId))
            {
                <div>
                    <h3>Match (@match.TId)</h3>
                    <p>@match.Result.Winner.Name (@match.Result.WinnerScore) - @match.Result.Looser.Name (@match.Result.LooserScore)</p>
                </div>
            }
        </div>
        <br />
    }
}

@code {
    [Parameter]
    public List<TournamentDTO> tournamentList { get; set; }
}
